#task2 {	text-align: center;	font-size:24px;	}
.rooster{	display:none;	}
.dog{	display:none;	}
.pig{	display:none;	}
.rat{	display:none;	}
.bull{	display:none;	}
.tiger{	display:none;	}
.rabbit{	display:none;	}
.dragon{	display:none;	}
.snake{	display:none;	}
.horse{	display:none;	}
.goat{	display:none;	}
.monkey{	display:none;	}
.empty{display:none;}
